*{
    margin: 20px;
    padding: 20px;

}    

body{
    background-color:  rgb(35, 35, 30);
    color: beige;
    
    font-family: 'Poppins', sans-serif;
}



h1{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
    color: beige;
    
    background-color: rgb(155, 105, 50);;
    margin-right: 50px;
    cursor: pointer;
    
}    

h1:hover{
    color: #fff;
    border-style: dotted;
    box-shadow: 0px 15px 25px;
    transform: scale(1.2);
}    



h3{
    font-family: 'Raleway', sans-serif;
    font-size: 30px ;
    text-align: center;
    background-color: rgb(155, 105, 50);;

}  

    
.menu{
    display: flex;
}   

.listas1:hover{
    color: black;
    font-weight: bold;
    border-style: dotted;
    transition: 0.5s;
}    


.listas1{
    text-align: center;
    background-color: rgb(125, 85, 50);
  
} 

.listas2:hover{
    color: black;
    font-weight: bold;
    border-style: dotted;
    transition: 0.5s;
}    


.listas2{
    text-align: center;
    background-color: rgb(125, 85, 50);   
    
}

.listas3:hover{
    color: black;
    font-weight: bold;
    border-style: dotted;
    transition: 0.5s;
}    

.listas3{
    text-align: center;
    background-color: rgb(125, 85, 50);

}    

.salado:hover{
    color: black;
    font-weight: bold;
    border-style: dotted;
    transition: 0.5s;
}    

.salado{
    text-align: center;
    
    background-color: rgb(125, 85, 50);;
}